*{
    margin: 0;
    padding: 0;
  }
  
  .so button{
          background-color :rgba(53, 107, 177, 0.527);
          color: white;
          border: 1px solid rgb(250, 247, 247);
          padding: 15px 32px;
          text-align: center;
          font-size: 16px
      }  
  
  .header1 {
          padding: 35px;
          text-align: inline-block;
         /* border: 4px solid rgb(167, 117, 117);*/
          background: lightgray;
          color:red;
          font-size: 20px;
           }

  
  body{
    background-color: cadetblue;
  }
  
  .so{
    padding:110px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  

  
  
  