*{
  margin: 0;
  padding: 0;
}

h1{
    color: white;
    text-align: center;
    padding-top: 200px;
}

.sok{
  background-color: lightgrey;
  margin: 180px;
  margin-left: 550px;
  margin-right: 550px;
}

.sok h1{
  color: rgb(26, 22, 22);
  padding: 30px;
  
}