*{
  padding: 0;
    margin: 0;
      box-sizing: border-box;
      color: #1d0f0f;  
  }

  .header1 {
          padding: 40px;
          background: lightgray;
          font-size: 20px;
           }
 
  body{
    background-color: cadetblue;
  }
  
  .ss{
    padding:165px;
    text-align: center;
    
  }

  .s{
    text-align: center;
    margin-top: 220px;
    color: rgb(15, 14, 14);
  }