*{
    margin: 0;
    padding: 0;
  }
  
  .header1 {
          padding: 40px;
          background: lightgray;
          color:red;
          font-size: 20px;
           }
 
  body{
    background-color: cadetblue;
  }
  
  .ss{
    padding:27px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .s2{
    padding-left: 850px;
  }
  
  body{
    background-image: "assets/image/logo.png";
    
  }

  .s{
    text-align: center;
    margin-top: 220px;
    color: lightgrey;
  }
  
  
  