
body{
        background-color: white;
        } 
        
.s button{
        background-color :rgba(53, 107, 177, 0.527);
        color: white;
        border: 1px solid rgb(250, 247, 247);
        padding: 15px 32px;
        text-align: center;
        font-size: 16px
    }  

.header {
        padding: 35px;
        text-align: inline-block;
        border: 1px solid rgb(250, 2, 2);
        background: white;
        color:red;
        font-size: 20px;
        border-radius: 5PX;
        border-width: 4PX;
    }

.s{
  padding:108px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



