*{
  padding: 0;
    margin: 0;
      box-sizing: border-box;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      color: #1d0f0f;  
  }

  .header1 {
    padding: 40px;
    background: lightgray;
    background-image: url("assets/image/logo.png");     
          font-size: 20px;
           }
 
  body{
    background-color: cadetblue;
  }
  
  .ss{
    padding:170px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .s{
    text-align: center;
    margin-top: 220px;
    color: rgb(15, 14, 14);
  }