
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  color: white;
}


.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
} 

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline{
        width: 200px;
        height : 450px;
        background-color : transparent :
    }

fieldset{

margin-top: 35px;
margin-right: auto;
margin-left: auto;
margin-bottom: auto;
padding-bottom: 460px;

}

.form-inline button:hover {
  background-color: royalblue;
}

body{
    background-image: url("blur.jfif");
    background-repeat: no-repeat;
    background-size: 1421px 737px;
    }  

.header {
      padding: 1px;
      text-align: center;
      border: 1px solid rgb(250, 247, 247);
      background: #3a738a;
      color: white;
      font-size: 30px;
  }

.s1 button{
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.s1 button:hover {
  background-color: royalblue;
}

.s1{
  padding-top: 1px;
  padding-right: 1200px;
}
